
@media (min-width: 1024px) {
    .site-main {
        /*padding-left: 10rem;*/
        /*grid-area: main;*/
    }
    .site-main .publications-list {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 2em;
    }

    .site-main .publications-list .card {
        grid-column: span 2;
    }

    .site-main .publications-list .card:first-child {
        grid-column: span 6;
    }
}
