.home-page .publications {
    grid-area: main;
    margin-bottom: 2rem;
}

.home-page .site-aside {
    grid-area: aside;
}

.home-page .category-view {
    grid-area: category;
    margin-bottom: 2rem;
}

h3 {
    padding-bottom: 0.5em;
}

.sources-section div {
    padding-bottom: 2em;
}

@media (max-width: 768px) {

    .home-page .category-view .category .full-info {
        display: none;
    }

    .home-page .category-view .category .card-img {
        display: none;
    }

    .home-page .category-view .category h3 {
        margin-top: 3em;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .home-page .category-view .category .card-content {
        padding-top: 1em;
    }
}

@media (min-width: 1024px) {
    .home-page {
        display: grid;
        grid-template-areas:
        "main main main aside"
        "category category  category  category";
        grid-column-gap: 4em;
        margin: 0 auto;
    }

    .home-page .publications .publications-list  {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2em;
    }
    .home-page .publications .publications-list .card {
        grid-column: span 1;
    }
    .home-page .publications .publications-list .card:first-child {
        grid-column: span 3;
    }
    .home-page .publications-list .card .full-info {
        font-size: 0.8em;
    }
}

