.site {
    margin: 0 1rem;
}

@media (min-width: 1024px) {

    .site {
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-column-gap: 4em;
        padding: 0 5em;
        margin: 0 auto;
    }
    .site-header{
        grid-column: 1 / -1;
    }
    .site-footer{
        grid-column: 1 / -1;
    }
}
@media (min-width: 1200px) {

    .site {
        padding: 0 10em;
    }
}

@media (min-width: 1600px) {

    .site {
        padding: 0 20em;
    }
}
