.site-nav ul{
    text-align: center;
    list-style-type: none;
}
.nav-link {
    text-decoration: none;
    display: inline-block;
    padding: 0.5em;
    font-size: 1.5em;
    color: black;
}
.site-nav{
    text-align: center;
}

.site-nav h1{
    margin: 0 auto;
    display: inline-block;
    color: black;
    vertical-align: center;
}

@media (min-width: 1024px) {

    .site-nav {
        padding: 0.5em 0;
        text-align: left;
    }
}

