.site-nav {
    /*padding: 1em;*/
    flex-grow: 1;
}

.site-nav ul{
    text-align: center;
    list-style-type: none;
}
.nav-link {
    text-decoration: none;
    display: inline-block;
    padding: 0.5em;
    font-size: 1.5em;
    color: black;
}

